<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Patient or a Doctor?</mat-card-title>
    </mat-card-header>

    <a style="margin-right:20px" mat-button mat-raised-button routerLink="/patientRegistration"
      routerLinkActive="active" color="primary">Patient Registration</a>
    <a mat-button mat-raised-button routerLink="/doctorRegistration" routerLinkActive="active">Doctor Registration</a>

  </mat-card>
</div>